:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: #2e2f42;
	--grey: #2e2f42;
	--white: #ffffff;
	--dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background: var(--white);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-studio-header {
  color: var(--navy-blue-modal);
}

.logo-studio-footer {
  color: var(--cloud);
}

.header-link-text:hover,
.header-link-text:focus,
.header-contacts:hover,
.header-contacts:focus {
  color: var(--ocean);
}

.link {
  text-decoration: none;
}

.header-link-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue-modal);
}

.list {
  list-style: none;
}

.contacts {
  font-style: normal;
}

.header-contacts {
  color: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.banner {
  background-color: var(--navy-blue-modal);
}

.banner-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}

.btn-cursor {
  cursor: pointer;
}

.banner-button {
  background-color: var(--iris);

  font-family: "Roboto", sans-serif;
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.banner-button:hover,
.banner-button:focus {
  background-color: var(--ocean);
}

/* .feature-list {
  display: inline-block;
  width: 264px;
} */

.feature-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-modal);
}

.feature-list-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.sector-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-modal);
}

.team-section {
  background-color: var(--cloud);
}

.team-list {
  background-color: var(--white);
}

.team-members-names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue-modal);
}

.team-members-position {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}

.footer {
  background-color: var(--navy-blue-modal);
}

.footer-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}


/* PORTFOLIO */


.filter-buttons {
  background-color: var(--cloud);

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--iris);
}

.filter-buttons:hover,
.filter-buttons:focus {
  background-color: var(--ocean);
  color: var(--white);
}

.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-modal);
}

.project-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
